@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Administrador de tareas para LaEmpresaSA.Inc. Deje de holgazanear y pongase a trabajar :)</p>
</div>
